<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "./partials/head.html" %}

    {% include "./partials/defaultCssFiles.html" %}

    <link rel="stylesheet preload" href="/styles/communityTerms.css">
    <link rel="stylesheet preload" href="/styles/responsive.css">
    <link rel="stylesheet preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include "./partials/header.html" %}
    <main>
        <h1>Termos de uso e comunidade do jv</h1>
        <section class="terms">
            <p>
                Para manter o jv <strong>livre para todo mundo</strong> regras precisam ser criadas, então aqui você
                vai encontrar
                <strong>regras, condições e orientações</strong> de como usar jv e todos os seus serviços.
            </p>
            <p>
                Às regras devem ser seguidas juntamente com as <a href="https://discord.com/guidelines" target="_blank"
                    rel="noopener noreferrer">regras do Discord</a>, então, caso descumpra alguma regra do
                Discord também estará descumprindo uma regra do jv.
            </p>
            <p>
                Gostaria de avisar também que nós <strong>não monitoramos todos os usuários e servidores que o jv
                    está</strong>, então
                contamos com a participação de usuários, administradores, moderadores, donos de servidores, etc, para
                <strong>denunciarem</strong> pessoas usando o jv de maneira errada.
            </p>

            <h2>
                Ações que não serão toleradas:
            </h2>

            <p>
                Tentar <strong>derrubar e/ou inviabilizar</strong> o uso do jv com ataques ou spams.
            <ul>
                <li>
                    Ataques <em>DDoSs</em> são para pessoas que admitem que não são capazes de fazer algo melhor que o
                    outro.
                </li>
            </ul>
            </p>
            <p>
                Tentar <strong>burlar punições</strong> aplicadas a você ou ao seu servidor.
            </p>
            <p>
                Tentar ou se passar pelo jv.
            <ul>
                <li>
                    Não é permitido que <strong>usuários troquem seu nome e avatar igual ao do jv</strong> para se
                    passar por ele
                    <strong>mesmo sendo de brincadeira</strong>.
                </li>
                <li>Criar bots com mesmo nome e avatar do jv é <strong>extremamente proibido.</strong></li>
                <ul>
                    <li>Pode até se inspirar nele, mas copiar não vale né.</li>
                </ul>
                <li>Servidores que estarem usando bots que se passam pelo jv <strong>
                        serão banidos até que mostrem os
                        responsáveis pela adição do bot.
                    </strong>
                </li>
            </ul>
            </p>
            <p>
                Usar o nome do jv para <strong>enganar pessoas</strong>.
            </p>
            <ul>
                <li>
                    Você até pode usar o jv em seu site, aplicativo, blog, entre outros, desde que para <strong>
                        fins não
                        comerciais.
                    </strong>
                </li>
                <li>Caso queira tratar desse assunto comigo <strong>entre em contato pelo Discord</strong>.</li>
             </ul>
                
            </p>
            <ul>
                <li>
                    <u>"Críticas construtivas"</u> são sempre bem-vindas e <strong>necessárias para a evolução do
                        jv</strong>. Mas críticas
                    que não ajudem na melhoria do jv não serão toleradas.
                </li>
                <li>
                    Espalhar <strong>notícias falsas sobre jv</strong> não serão permitidas não importando o grau
                    delas.
                </li>
                <li>
            </p>
        </section>
    </main>

    {% include "./partials/footer.html" %}
</body>

</html>
