<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "./partials/head.html" %}
    {% include "./partials/defaultCssFiles.html" %}

    <link rel="stylesheet preload" as="style" href="/styles/main.css" defer>
    <link rel="stylesheet preload" as="style" href="/styles/responsive.css" defer>

    <link async rel="stylesheet preload" as="style"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" defer>

</head>

<body>
    {% include "./partials/header.html" %}
    <section id="header">
        <img loading="lazy" src="/assets/avatar-lilly.webp" width="256" height="256" alt="Foto Lilly">
        <h1>jv o melhor bot de música para seu servidor</h1>
        <div id="header_buttons">
            <a href="/invite" target="_blank" rel="external noreferrer"><button><i class="fa fa-plus"></i> Me
                    Adicione</button></a>

            <a href="/support" target="_blank" rel="external noreferrer"><button style="background-color: #6274b8;"><i
                        class="fa fa-support"></i> Suporte</button></a>

            <a href="/commands" rel="internal"><button style="background-color: #05c063;">&lt;/&gt; Meus
                    Comandos</button></a>
        </div>
    </section>

    <main class="page_content">
        <section class="section_content">
            <h2 class="title_left">Quem é jv?</h2>
            <p>Jv e um simples bot de música criado em JavaScript,com varios comandos simples e facil de usar.</p>
            <br>
            <p>Quer adicionar comandos úteis ao seu servidor? Quer ter mais opções de moderação em seu servidor? Quer
                apenas mais diversão no seu servidor? Então a Lilly é a menina certa para ser adicionada ao seu
                servidor! A Lilly inclui tudo isso e <strong>muita mais funcionalidades legais!</strong></p>
        </section>
        <section class="section_content">
            <h2>Transforme seu servidor em um lugar mais divertido!</h2>
            <p>
                O jv traz ao seu servidor que <strong>divertem a todos do servidor</strong>.
                para todos: <strong>Com melhores qualidades e sem nenhum travamento</strong>
            </p>
        </section>
         <section class="section_content">
            <h2>Mas afinal, quais são os comandos do jv</h2>
            <p>Os comandos são bem simples, ao colocar @help no chat do seu servidor ja vai ver os comandos.
            </p>
            <br>
            <p>Mas mesmo assim vou deixar uma lista para você.
                    </strong>. <a href="/commands">Veja a lista completa de comandos!</a></p>
        </section>

        </section>
        <section class="section_content">
            <h2>Precisa de ajuda? Nós estamos aqui!</h2>
            <p>Caso precise de <strong>qualquer ajuda com jv</strong> nós sempre estaremos aqui para ajudar. O
                jv tem um servidor
                de suporte que está <strong>sempre a disposição para ajudar</strong> quem precisa como pessoas que podem
                responder suas
                dúvidas.</p>
            <br>
            <p>Se encontrar um bug ou algo que <strong>impossibilite ou dificulte o uso do</strong> poderá enviar
                ele para o
                suporte que vai analisar e encaminhar para a equipe de desenvolvimento para ser corrigido <strong>
                    o mais rápido
                    possível
                </strong>.
            </p>
            <br>
            <p>No servidor de suporte do Discord você também fica sabendo em primeira mão as <strong>novidades do
                    jv</strong>, correções
                de <strong>bugs, futuros updates, sorteios, eventos e muito mais</strong>.</p>
            <br>
            <p>Caso queira entrar no servidor de suporte do Discord, <a href="/support" target="_blank"
                    rel="noopener noreferrer">basta usar este link</a>.</p>
        </section>
        <section class="section_content">
            <h2>jv está sempre disponível</h2>
            <p>Diferente de muitos bots disponíveis por aí, <strong>a Lilly 24/7 disponível</strong> 
        </section>
        <section class="section_content">

    {% include "./partials/footer.html" %}
</body>

</html>
