<footer>
    <div class="footer_section">
        <h3>Condições e Termos de Uso</h3>
        <a href="/community-terms">Termos de Uso da Comunidade</a><br>
        <a href="/privacy-policy">Políticas de Privacidade</a>
    </div>

    <div class="social_networks">
        <a href="https://github.com/FernandesCR" target="_blank" rel="external noreferrer"><img loading="lazy" width="30" height="30" src="/assets/github-icon.png" alt="Acesse meu Github"></a>

        <p>&copy; Todos os direitos reservados ao Fernandes e seus associados. Copyright 2021. <br> <strong>
            jv não é
                associado a Discord, Inc.
        </strong></p>
    </div>

</footer>
